<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Siute" parallel="false">
	<test name="rechargeTest">
	<classes>
		<class name="com.lemon.auto.phoenix.testcase.Tester"/>
	</classes>
	</test>
	<parameter name="browserType" value="chrome"></parameter>
	
	<parameter name="dirverPath" value="src/test/resources/driver/IEDriverServer.exe"></parameter>
	
</suite>
 
